# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
.firebase
firestore.rules
firestore.indexes.json
firebase.json

# IDEs
.vscode/*
!.vscode/extensions.json
.idea
.cursor
.windsurf
.trae
.clinerules

# BMAD (keep core if you want to share, but usually keep it local or partial)
# .bmad-core
# .bmad-infrastructure-devops
